---
const img = Astro.props.img;
const header = Astro.props.header;
const text = Astro.props.text;
---


<button>
    <p>{text}</p>
</button>

<style>
    button {
  border-radius: 42px;
background: #FFCC4A;
    display: flex;
    padding: 1px 37px;
    align-items: flex-start;
    gap: 10px;
    }

    button:hover {
        
        background: #181818;
    }
    button:hover p {
   
color: #FFF;
    }

    p {
color: #181818;

font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 28.8px */

    }
</style>